
body {
    background-color: #CED4D8;
}

h1 {
    color: #AC6AC7;
}
/* 

*/
h2 {
    color: rgb(255, 165, 0);
}

li {
    color: blue;
}

p {
    background-color: gold;
}

input {
    border-style: dotted;
    border-width: 5px;
    border-color: pink;
}

.first {
    color: #fff;
}

#important {
    border-style: dashed;
    border-width: 3px;
    border-color: #0000ff;
}

div {
    font-size: 30px;
}

input[type="email"] {
    color: #808080;
}

